<aside th:fragment="menu" class="main-sidebar sidebar-white-primary elevation-4">
     <!-- LOGO -->
      <a th:href="@{/home}" class="brand-link">
        <img th:src="@{/images/logo-p.png}" width="240px" style="opacity: .8">
      </a>


        <!-- MENU -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a th:href="@{/platos/listarPlato}" class="nav-link" style="font-size: 30px;">
                        <i class="fa-solid fa-bowl-food" style="font-size: 25px;"></i>
                        <p>
                        Platos
                        </p>
                    </a>
                </li>
                <li class="nav-item" style="font-size: 30px;">
                    <a th:href="@{/clientes/listarCliente}" class="nav-link">
                    <i class="fa-solid fa-user-check "style="font-size: 25px;"></i>
                        <p>
                        Clientes
                        
                        </p>
                    </a>

                </li>

                <li class="nav-item" style="font-size: 30px;">
                    <a th:href="@{/ordenes/listarOrdenes}" class="nav-link">
                        <i class="fa-regular fa-note-sticky"  style="font-size: 25px;"></i>
                        <p>
                        Ordenes
                        
                        </p>
                    </a>
                </li>

                <li class="nav-item" style="font-size: 30px;">
                    <a th:href="@{/personal/listarPersonal}" class="nav-link">
                        <i class="fa-solid fa-laptop" style="font-size: 25px;"></i>
                        <p>
                        Personal
                        
                        </p>
                    </a>          
                </li>

                <li class="nav-item" style="font-size: 30px;">
                    <a th:href="@{/opiniones/listarOpinion}" class="nav-link" >
                        <i class="fa-regular fa-star-half-stroke" style="font-size: 25px;"></i>
                        <p>
                        Opiniones
                        
                        </p>
                    </a>
                </li>
                <li class="invisible mb-4">Elemento invisible</li>
                <li class="nav-item text-center">
				<a
						class="btn btn-danger" th:href="@{/logout}">Cerrar Sesion</a></li>
        		</li>
                
                
            </ul>
        </nav>

      </div>

    </aside>