<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">

</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<aside th:replace="layout/layout :: sidebar"></aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Bienvenido </h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/ventasOnline">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</nav>
		</div>
		<section class="section dashboard">
			<div class="row">
				<div class="col-lg">
					<div class="row">
						<!--Ramen y sopas-->
		<div class="container-items">
			<div class="item">
				<figure>
					<img
						src="Ramen y sopas/prd-fideos-ramen-coreano-samyang-salsa-soja-japonshop_1.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>FIDEOS RAMEN COREANO JJAJANG</h2>
					<p class="price">$27</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			
			<div class="item">
				<figure>
					<img
						src="Ramen y sopas/prd-fideos-ramen-tempura-jengibre-escabeche-japonshop-removebg-preview.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>FIDEOS RAMEN SOBA TEMPURA DONBEI RED</h2>
					<p class="price">$20</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Ramen y sopas/prd-prd-ramen-coreano-yeul-japonshop_2-removebg-preview.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Ramen Coreano Estilo Mochis Topokki</h2>
					<p class="price">$20</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Ramen y sopas/prd-ramen-fresco-japones-tan-tan-noodle-japonshop-removebg-preview.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Raciones Tallarines Frescos Tan Tan | Estilo Japonés</h2>
					<p class="price">$10</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Ramen y sopas/prd-snack-ramen-yakisoba-japones-japonshop-removebg-preview.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Snack Japonés de Yakisoba con Mayonesa BIG</h2>
					<p class="price">$5</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Ramen y sopas/prd-topokki-ultra-picante-carbonara-japonshop-removebg-preview.png"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Mochis Topokki Coreanos Carbonara ULTRA HOT Chicken Bowl</h2>
					<p class="price">$27</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<!--Platos-->
			<div class="item">
				<figure>
					<img
						src="Platos/1.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Hanzo Beef</h2>
					<p class="price">$35</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Platos/2.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Yasaitame Mixto</h2>
					<p class="price">$45</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Platos/3.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Sakana Oiromushi</h2>
					<p class="price">$50</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Platos/4.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Salmón Teriyaki</h2>
					<p class="price">$55</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Platos/5.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Maki Parrillero</h2>
					<p class="price">$50</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Platos/6.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Tako Karamis</h2>
					<p class="price">$45</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<!--Postres-->
			<div class="item">
				<figure>
					<img
						src="Postres/Dorayaki.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Dorayaki</h2>
					<p class="price">$8</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Postres/Hanami-dango.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Hanami-dango</h2>
					<p class="price">$20</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Postres/Kasutera.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Kasutera</h2>
					<p class="price">$15</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Postres/Mamekan.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Mamekan</h2>
					<p class="price">$10</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Postres/Mitarashi-dango.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Mitarashi Dango</h2>
					<p class="price">$9</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Postres/Mizu-yōkan-.jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Mizu yōkan</h2>
					<p class="price">$11</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<!--Bebidas-->
			<div class="item">
				<figure>
					<img
						src="Bebidas/cart-drinks-img (1).jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Caipiriña</h2>
					<p class="price">$29</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Bebidas/cart-drinks-img (2).jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Coctel de naranja</h2>
					<p class="price">$20</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Bebidas/cart-drinks-img (3).jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Coca Cola</h2>
					<p class="price">$3</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Bebidas/cart-drinks-img (4).jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Moscow Mule</h2>
					<p class="price">$20</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Bebidas/cart-drinks-img (5).jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Vino Palacio de melade</h2>
					<p class="price">$39</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>
			<div class="item">
				<figure>
					<img
						src="Bebidas/cart-drinks-img (6).jpg"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>Malteada</h2>
					<p class="price">$15</p>
					<button class="btn-add-cart">Añadir al carrito</button>
				</div>
			</div>		
		</div>
						
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>